@{
    ViewData["Title"] = "TalkApiClient";
}

<table class="table table-striped">
    <tr>
        <th>Lijst</th>
        <th>Actie</th>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Chat kanalen uitlezen", "ListChatChannels")
        </td>
        <td>
            @Html.ActionLink("Nieuwe chat kanalen aanmaken", "CreateChatChannel")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Berichten uitlezen voor alle kanalen", "ListChatMessages")
        </td>
        <td>
            @Html.ActionLink("Bericht sturen naar een specifiek kanaal", "CreateChatMessage")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Bericht uitlezen voor specifiek kanaal GET /api/chat-messages?Channel=...", "MessagesByChannel")
        </td>
        <td>

        </td>
</tr>
</table>



